@import "public";
/*热门推荐*/
.hot{
    .hot1{
        width:1200px;
        margin:0 auto;
        .hot_l{
            width:40px;
            height:150px;
            background:#fafafa;
            border: 1px solid #e6e6e6;
            .ul1{
                li{
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: #666;
                    margin-top: 16px;
                }
            }
        }
    }
}
.hot{
   .hot1{
       .hot_r{
           width:1148px;
           height:149px;
           border:1px solid #666;
           position: absolute;
           top: 188px;
           left: 72px;
           .ul2{
               li{
                   width:272px;
                   height:132px;
                   float:left;
                   margin-top: 10px;
                   margin-left: 15px;
                   img{
                       width:130px;
                       height:130px;
                       border:none;
                   }
                   .des{
                       width:130px;
                       height:52px;
                       overflow: hidden;
                       position: absolute;
                       font-size: 12px;
                       margin-left: 10px;
                       color: #333;
                   }
                   p{
                        height: 30px;
                        line-height: 30px;
                        color: #ff3243;
                        position: absolute;
                        top: 76px;

                        font-size: 12px;
                   }
                   .two{
                           width: 80px;
                            height: 30px;
                            display: block;
                            line-height: 30px;
                            background: #e6e6e6;
                            text-align: center;
                            color: #656565;
                            margin-top: 10px;
                            font-size: 12px;
                            position: absolute;
                            top: 100px;
                   }
               }
           }
       }
   } 
}

/*商品导航*/
.s_nav{
    .s_nav1{
        width:1200px;
        margin:0 auto;
        border:1px solid #666;
        width:1200px;
        height:216px;
        margin-top: 20px;
        margin-bottom: 10px;
        .result{
            height: 40px;
            background: #fafafa;
            line-height: 40px;
            padding-left: 10px;
            border-bottom: 1px solid #eaeaea;
            .s_one{
                font-size:12px;
                color: #fb5053;
                padding-left: 25px;
            }
            .s_two{
                font-size:12px;   
                color: #656565;
                height: 25px;
                line-height: 25px;
                border: 1px solid #e6e6e6;
                margin-top: 8px;
                padding-left: 10px;
                padding-right: 22px;
                position: relative;
                margin-left: 10px;
                background: #fff;
                margin-right: 15px;
            }
        }
    }
}
.s_nav{
   .s_nav1{
       .pinpai{
            height: 35px;
            border-bottom: 1px solid #e6e6e6;
            ul{
                li{
                    float:left;
                    font-size:12px;
                    color: #666;
                    line-height:35px;
                    margin-left: 20px;
                }
                .p_one{
                    width: 80px;
                    text-align: right;
                    line-height: 35px;
                    color: #333;
                    background: #fafafa;
                    margin-left: 0;
                }
                .p_more1{
                    margin-right: 10px;
                    margin-left: 260px;
                    color: #164a96;
                    line-height: 32px;
                }
                .p_more2{
                        height: 20px;
                        width: 50px;
                        background: #f8f7f5;
                        border: 1px solid #e5e5e5;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                        color: #164a96;
                        cursor: pointer;
                        margin-top: 5px;
                }
            }
       }
   } 
}
.s_nav{
    .s_nav1{
        .pinpai{
            a:hover{
                color:red;
            }
        }
    }
}


.s_nav{
   .s_nav1{
       .jiage{
            height: 35px;
            border-bottom: 1px solid #e6e6e6;
            ul{
                li{
                    float:left;
                    font-size:12px;
                    color: #666;
                    line-height:35px;
                    margin-left: 20px;
                }
                .p_one{
                    width: 80px;
                    text-align: right;
                    line-height: 35px;
                    color: #333;
                    background: #fafafa;
                    margin-left: 0;
                }
                
            }
       }
   } 
}


.s_nav{
   .s_nav1{
       .banxing{
            height: 35px;
            border-bottom: 1px solid #e6e6e6;
            ul{
                li{
                    float:left;
                    font-size:12px;
                    color: #666;
                    line-height:35px;
                    margin-left: 20px;
                }
                .p_one{
                    width: 80px;
                    text-align: right;
                    line-height: 35px;
                    color: #333;
                    background: #fafafa;
                    margin-left: 0;
                }
                .p_more1{
                    margin-right: 10px;
                    margin-left: 898px;
                    color: #164a96;
                    line-height: 32px;
                }
                .p_more2{
                        height: 20px;
                        width: 50px;
                        background: #f8f7f5;
                        border: 1px solid #e5e5e5;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                        color: #164a96;
                        cursor: pointer;
                        margin-top: 5px;
                }
            }
       }
   } 
}



.s_nav{
   .s_nav1{
       .kuanshi{
            height: 35px;
            border-bottom: 1px solid #e6e6e6;
            ul{
                li{
                    float:left;
                    font-size:12px;
                    color: #666;
                    line-height:35px;
                    margin-left: 20px;
                }
                .p_one{
                    width: 80px;
                    text-align: right;
                    line-height: 35px;
                    color: #333;
                    background: #fafafa;
                    margin-left: 0;
                }
                .p_more1{
                    margin-right: 10px;
                    margin-left: 898px;
                    color: #164a96;
                    line-height: 32px;
                    margin-left: 942px;
                }
                .p_more2{
                        height: 20px;
                        width: 50px;
                        background: #f8f7f5;
                        border: 1px solid #e5e5e5;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                        color: #164a96;
                        cursor: pointer;
                        margin-top: 5px;
                }
            }
       }
   } 
}






/*点击a_btn 出现div*/
.s_nav{
   .s_nav1{
       .ziliao{
            height: 35px;
            border-bottom: 1px solid #e6e6e6;
            margin-top: -107px;
            z-index: -1;
            ul{
                li{
                    float:left;
                    font-size:12px;
                    color: #666;
                    line-height:35px;
                    margin-left: 20px;
                }
                .p_one{
                    width: 80px;
                    text-align: right;
                    line-height: 35px;
                    color: #333;
                    background: #fafafa;
                    margin-left: 0;
                }
                .p_more1{
                    margin-right: 10px;
                    margin-left: 898px;
                    color: #164a96;
                    line-height: 32px;
                    margin-left: 942px;
                }
                .p_more2{
                        height: 20px;
                        width: 50px;
                        background: #f8f7f5;
                        border: 1px solid #e5e5e5;
                        display: block;
                        text-align: center;
                        line-height: 20px;
                        color: #164a96;
                        cursor: pointer;
                        margin-top: 5px;
                }
            }
       }
   } 
}

.ziliao1{
    position:absolute;
}
.ziliao2{
    position:absolute;
        top: 581px;
}
.ziliao3{
    position:absolute;
        top: 616px;
}









.s_nav{
    .s_nav1{
        .end{
           height: 35px;
           text-align: center;
           a{
               overflow: hidden;
                position: relative;
                
                text-align: center;
                line-height: 36px;
                width: 200px;
                top: -2px;
                padding-bottom: 5px;
                color: #999;
                height: 25px;
                font-size:12px;
                color:#666;
                display: block;
                left: 518px;
           } 
        }
    }
}


/*商品列表*/
.list{
    .list1{
        width:1200px;
        margin:0 auto;
        .list1_l{
            width:188px;
            border:1px solid #666;
            float:left;
        }
    }
}


.list{
   .list1{
       .list1_r{
           float:left;
           .list1_nav{
               width:1000px;
               height: 40px;
                background: #f9f9f7;
                border: 1px solid #e6e6e6;
               position: absolute;
                top: 586px;
                left: 230px;
                .size{
                    font-size:12px;
                    line-height:40px;
                }
                .sort{
                        margin: 9px 10px 0px 10px;
                        font-weight: bold;
                }
                .nav1{
                    
                    position:absolute;
                    top: 1px;
                    left: 40px;
                    a{
                     float:left;
                    width: 80px;
                    height: 25px;
                    margin-top: 6px;
                    border: 1px solid #fb5053;
                    color: #fff;
                    background: #dc3645;
                    text-align: center;
                    line-height:25px;   
                    }
                }
                .nav2{
                    position:absolute;
                    top: 1px;
                    left: 446px;
                    a{
                        float:left;
                        margin-left: 6px;
                        padding-left: 6px;

                    }
                    a:hover{
                        color:red;
                    }
                    input{
                        width:10px;
                        height:14px;
                    }
                }
                .nav3{
                    position:absolute;
                    top: 1px;
                    right: 58px;
                    span{
                         float: left;
                         margin-right: 80px;
                        em{
                            color: #fb5053;
                            font-weight: bold;
                        }
                    }
                    .nav3_box{
                        position: absolute;
                        right: -56px;
                        top: 6px;
                    }
                    a{
                        float:left;
                        width: 62px;
                        height: 25px;
                        background: #fff;
                        line-height: 25px;
                        color: #cdcdcd;
                        text-align: center;
                        margin-right:5px;
                        border:1px solid #666;
                    }
                    a:hover{
                        color:red;
                        border-color: red;
                    }
                }
           }
       }
   } 
}



.list1_r{
        margin-top: 42px;
        margin-left: 10px;
    .list_box{
        width:1000px;
        height:4120px;
        //background:#87CEEB;
        .listbox{
            width:242px;
            height:392px;
            float:left;
            margin-right: 6px;
             ul{
                 .li1{
                     img{
                         position:absolute;
                     }
                     img.show{
                         display:block;
                     }
                     img.hide{
                         display:none;
                     }
                 }
             }
             ol{
                 .li2{
                        float: left;
                        margin-top: 220px;
                 }
                 img{
                         margin-right: 5px;
                        margin-left: 5px;
                        border: 1px solid gray;
                 }
             }
              .p1{
                  font-size:12px;
                  padding: 0px 4px;
                    margin-top: 25px;
                    overflow: hidden;
                    height: 25px;
                .span1{
                        color: #e43b3b;
                        font-size: 14px;
                        font-weight: bold;
                        float: left;
                }
                del{
                    //font-size: 14px;
                    color: #999;
                    margin-left: 5px;
                   float: left;
                    line-height: 16px;
                }
                .span3{
                        float: left;
                        border: 1px solid #c9525e;
                        background: #ffe8ee;
                        color: #c9525e;
                        text-align: center;
                        height: 16px;
                        display: block;
                        line-height: 16px;
                        padding: 2px 1px;
                        margin-left: 46px;
                }
              }
            .p2{
                    //overflow: hidden;
                    text-align: left;
                    padding: 0px 8px;
                    margin-top: 10px;
                    height: 50px;
                    .a1{
                            width: 40px;
                            height: 20px;
                            //display: block;
                            float: left;
                            margin-top: 4px;
                            margin-right: 5px;
                            font-size:12px;
                            color:black;
                            border:1px solid red;
                            text-align: center;
                            line-height: 20px;
                            margin-left: 8px;
                            border-radius:5px;
                    }
                    .a2{
                            color: #666;
                            line-height: 18px;
                            font-size:12px;
                    }
                    .a2:hover{
                        color:red;
                        text-decoration:underline;
                    }
            }
        }
    }
}





 
            





/*最近浏览*/
//.watch{
//  .watch1{
//      width:1200px;
//      margin:0 auto;
//      .watch1_top{
//              width: 1200px;
//              height: 45px;
//              background: #f6f6f6;
//              margin-top: 20px;
//              //overflow: hidden;
//              padding-top: 15px;
//      }
//  }
//}
