@import "public";
/*商品详情*/
.details{
   .details1{
       width:1200px;
       margin:0 auto;
       .details1_nav{
           height: 24px;

           a{
               font-size:12px;
               color:#666;
               line-height:24px;
            
           }
           a:hover{
               color:red;
           }
           .change{
             float:left;
           }
           .cha{
             float:left;
           }
       }
       .details1_m{
           width:1200px;
           border:1px solid #666;
           margin-top:26px;
           height:410px;
          
//             .box{
//                 width:400px;
//                 height:400px;
//                 top: -28px;
//                .box_small{
//                       width:400px;
//                       height:400px;
//                   .zzc{
//                     width:200px;
//                     height:200px;
//                     background:skyblue;
//                     opacity:0.5;
//                     position: absolute;
//                      top: 240px;
//                      left: 92px;
//                      z-index: 1;
//                      display:none;
//                 }   
//               
//             }
//           }
//            
//             ul{
//                 li{
//                     img{
//                         position:absolute;
//                         top: 238px;
//                         left: 92px;
//                     }
//                 }
//             }
//             .glass{
//                 img{
//                     width:500px;
//                     height:500px;
//                      position: absolute;
//                      top: 267px;
//                      left: 472px;
//                      z-index: 9999;
//                      //display: none;
//                 }
//                 img.yin{
//                     display:none;
//                 }
//                 img.xian{
//                     display:block;
//                 }
//             }
            
           
       }
   }
}
.details{
    .details1{
        .details1_m{
            .details1_m3{
                position:absolute;
                top: 268px;
                left: 506px;
                .details1_m3top{
                    .p_top{
                        .p_topspan1{
                            font-size:12px;
                            float:left;
                            width:40px;
                            height:20px;
                            border:1px solid red;
                            border-radius:5px;
                            text-align:center;
                            line-height:20px;
                        }
                        .p_topspan2{
                            font-size:14px;
                        }
                    }
                    .p_middle{
                        width:480px;
                        height:50px;
                        background: #f7f7f7;
                        line-height:50px;
                        .p_middle1{
                            margin-left:-34px;
                        }
                        .p_middle2{
                                font-size: 22px;
                                font-weight: bold;
                                color: #c81417;
                        }
                    }
                    .details1_m3thr{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            border-bottom: 1px dashed #666;
                        span{
                                float:left;
                                height: 17px;
                                line-height: 17px;
                                width: 30px;
                                border: 1px solid #d61518;
                                text-align: center;
                                border-radius: 20%;
                                font-size: 12px;
                                font-family: SimSun;
                                margin-top: 3px;
                        }
                        .p1{
                                color: #666;
                                font-size: 12px;
                                margin-left:40px;
                        }
                        .p2{
                           color: #666;
                           font-size: 12px;
                           margin-left:40px;
                           margin-bottom: 10px; 
                        }
                    }
                }
                .details1_m3bottom{
                    .bottom1{
                        p{
                           font-size:12px;
                           line-height: 40px; 
                            span{
                                font-size:12px;
                                float: left;
                                width:90px;
                                height: 25px;
                                line-height: 25px;
                                padding: 0px 5px;
                                border: 1px solid #ccc;
                                cursor: pointer;
                                margin-right: 5px;
                                margin-top: 5px;
                                border: 1px solid #ff3344;
                                position: absolute;
                                text-align: center;
                                margin-left: 5px;
                            }
                        }
                    }
                    .bottom2{
                        span{
                            font-size:12px;
                            float: left;
                            margin-right: 8px;
                            line-height: 24px;
                        }
                        a{
                          font-size:12px;
                          float:left;
                           width: 30px;
                            height: 20px;
                            border: 1px solid #666;
                            text-align: center;
                            line-height: 20px;
                            margin-right: 3px;
                            color: #666;
                        }
                    }
                    .bottom3{
                        p{
                            font-size:12px;

                        }
                        .bottom3_p1{
                            position:absolute;
                            line-height: 112px;
                        }
                        .bottom3_p2{
                            position:absolute;
                            line-height: 130px;
                        }
                        div{
                              position: absolute;
                                top: 214px;
                                left: 64px;
                            span{
                                float:left;
                                width: 20px;
                                height: 30px;
                                border: 1px solid gray;
                                text-align: center;
                                line-height: 30px;
                            }
                            a{
                               float:left;
                                width:20px;
                                height:14px;
                                border: 1px solid gray;
                                text-align: center; 
                                line-height: 14px;
                            }
                            .jian{
                                position:absolute;
                                top: 16px;
                                left: 22px;
                            }
                        }
                        .cart{
                                width: 140px;
                                height: 32px;
                                float:left;
                                color: #fff;
                                background: #ff3344;
                                text-align: center;
                                line-height: 32px;
                                font-weight: bold;
                                margin-left: 10px;
                                position: absolute;
                                top: 214px;
                                left: 112px;
                                font-size:12px;
                        }
                        .phone{
                            float:left;
                            position:absolute;
                            width: 90px;
                            height: 30px;
                            border: 1px solid gray;
                            color: #666;
                            text-align: center;
                            line-height: 30px;
                            top: 214px;
                            left: 356px;
                        }
                        .weixin{
                            position:absolute;
                            top: 246px;
                            left: 348px;
                            display:none;
                        }
                    }
                }
            }
        }
    }
}


.details1_m{
    .details1_m1{
        ul{
            li.hover{
                border:1px solid red;
                border-bottom: 0px;
                width:40px;
                height:40px;
            }
            li.normal{
                border:1px solid white;
                border-bottom: 0px;
            }
        }
    }
    .details1_m2{
        .box{
            .box_small{
                .ulBig{
                    li.show{
                        display:block;
                    }
                    li.hide{
                        display:none;
                    }
                }
            }
        }
    }
}
.scale{
    position: relative;
}
.scale *{
    position: absolute;
    top: 2px;
    left: 14px;
}
//.scale>div:nth-child(1){
//  border: 1px solid gray;
//}
.scale>div:nth-child(2){
//  border: 1px solid gray;
    overflow: hidden;
    display: none;
}
.div2{
    position:absolute;
    top:50px;
    z-index:999;
}




/*商品介绍 售后服务*/
.intro{
    margin-top:100px;
    .intro1{
        width:1200px;
        margin:0 auto;
        .intro1_tab{
            ul{
                    position: fixed;
                    top: 0px;
                    background:#87CEEB;
                    width: 100%;
                li{
                    float:left;
                    width:180px;
                    height:40px;
                    text-align: center;
                    a{
                        line-height:40px;
                        font-weight: bold;
                        color:black;
                    }
                    a:hover{
                        color:red;
                    }
                }
                li.normal{
                    background:#808080;
                }
                li.click{
                    background:white;
                    border-top:1px solid red;

                }
            }
            ol{
                li.show{
                    display:block;
                }
                li.hide{
                    display:none;
                }
            }
        }
    }
}



/*侧边栏*/
.right_guide{
   position:fixed;
    top: 40px;
    right: 0;
    ul{
        li{
            a{
                display:block;
                width:48px;
                height:48px;
                background:white;
                margin-bottom:5px;
                border-radius:5px;
                img{
                    width:20px;
                    height:24px;
                    margin-top: 11px;
                    margin-left: 14px;
                    z-index:1;
                }
                .count{
                    display: block;
                    position: absolute;
                    top: 50px;
                    right: 10px;
                    border-radius: 5px;
                    background: red;
                    width: 18px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                }
                p{
                        font-size:12px;
                        color:#666;
                        width:48px;
                        height:48px;
                        background:white;
                        text-align: center;
                        line-height: 48px;
                         border-radius: 5px;
                         left:48px;   
                         //display: none;

                }
//              p.hide{
//                  display:none;
//              }
//              p.show{
//                  display:block;
//              }
                .p1{
                    position:absolute;
                    right: 48px;
                    top: -1px;
                }
                .p2{
                    position:absolute;
                    right: 48px;
                    top: 52px;
                }
                .p3{
                    position:absolute;
                    right: 48px;
                    top: 105px;
                }
                .p4{
                    position:absolute;
                    right: 48px;
                    top: 158px;
                }
                 .p5{
                    position:absolute;
                    right: 48px;
                    top: 212px;
                }
                 .p6{
                    position:absolute;
                    right: 48px;
                    top: 264px;
                }
                 .p7{
                    position:absolute;
                    right: 48px;
                    top: 318px;
                }
            }
        }
    }
}